
   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: white;
    color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    font-family: 'work-sans', Arial, sans-serif, sans-serif;
    overflow-x: hidden;
    width: 100%;

}


.row{
    max-width: 1200px;
    margin: 0 auto;
}

.headerBox{
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin: 0 auto;
    transform: translate(-250px,-50px);
}
header{
 background-image: linear-gradient(rgba(0,0,0,.7),rgb(0,0,0,.9)),  url(header.jpeg);
 height: 100vh;
 background-size: cover;
 background-position: center;
 position: relative;

}
h1{
    font-size: 500%;
    font-weight: 300;
    text-align: left;
}

h2{
    font-size: 300%;
    font-weight: 200;
    margin-bottom: 50px;
}


.btn:visited,.btn:link{
 color: white;
 text-decoration: none;
 border-radius: 200px;
 padding: 10px 20px;
 margin-top: 50px;

}

.btn-full:visited,.btn-full:link{
 background-color: #ed07b7;
 color: #fff;
}

.btn-full:hover,.btn-full:active{
    background-color: #fd48d3;
}
.btn-ghost:link,.btn-ghost:visited{
    background-color:white;
    color: #ed07b7;
    border: 2px solid #ed07b7;
}
.btn-ghost{
    margin-left: -50px;
    padding-top: -5%;
}
.btn-ghost:hover,.btn-ghost:active{
    background-color:#ed07b7;
    color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px;
    float: left;
}
.nav{
    list-style: none;
    float: right;
}

.nav li{
   display: inline-block;
   margin: 20px 20px;
   padding-top: 15px;
   text-transform: uppercase;
   margin-bottom: 40px;
}
.nav li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.nav li a:visited,.nav li a:link{
  text-decoration: none;
  color: white;
  transition: border-bottom 0.5s;
 }

 .nav li a:hover{
    border-bottom: 2px solid #ed07b7;
 }

 .about-heading{
     font-size: 380%;
     font-weight: 400px;
     color: black;
     margin-top: 20px;
     margin-left: -70px;

 }

 .about{
     height: 110vh;
 }

 .about-para{
     font-size: 140%;
     font-weight: 100px;
     text-align: left;
     color: black;
     margin-left: -70px;
     margin-bottom: 10px;
 }

 .about img{
     width: 100%;
     margin: 70px 70px;
     border-radius: 20%;
     padding-top: 20%;

 }
 .about-sec{
     padding: 0 5%;
     padding-top: 4%;
     text-align: left;
     margin-top: 0%;
 }



 /* Work Section */

 .sec-heading{
     color: black;
     font-size: 400%;
     font-weight: 400px;
     text-align: center;
     margin-bottom: 10px;
 }
 
 .sec-sub-heading{
    color: black;
    font-size: 150%;
    font-weight: 300px;
    text-align: center;
}
.sec-sub-heading:after{
    display: block;
    height: 2px;
    width: 200px;
    content: "";
    background-color: #ed07b7;
    margin: 30px auto 40px auto;
}


.work{
    padding-top: 80px;
    height: 100vh;
    background-color: rgb(245, 245, 245);
}
.work-portfolio{
    list-style: none;
    width: 100%;
    text-align: center;
    margin-left: 80px;
}

.work-portfolio li{
    /* display: block; */
    width: 100%;
    /* float: left; */
    height: auto;
    overflow: hidden;
    text-align: center;


}

.work-portfolio li img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    transform: scale(1.10);
    margin: 2px ;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 0.9;
    overflow: hidden;
}


.work-portfolio li img:hover{
    transform: scale(1);
    opacity: 1;
    border-radius: 5px;
    transition: transform .7s, opacity 1s;
    overflow: hidden;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}



/* Services */

.services{
    padding-top: 80px;
    height: 110vh;
    background-color: white;
}

.readmore{
    color: #ed07b7;
    font-weight: 200%;
    font-size: large;
    text-decoration: none;
    margin-top: 300px;
    padding-top: 300px;
}

.span_1_of_5  p{
color: black;
font-size: 110%;
font-weight: 700%;
line-height: 150%;
padding-bottom: 10%;
}


.partner{
    padding-top: 80px;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.partner-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Testimonial Section */
.testimonials{
    padding-top: 80px;
    height: 100vh;
    background-color: white;
    background-image: url(Testimonial.webp);
    background-size: cover;
    text-align: center;
    color: white;
}

.quote:before{
    content: "\201C";
    display: block;
    font-size: 300%;
    font-weight: 500%;
}

.quote{
    color: white;
    font-size: 170%;
    font-style: italic;
    font-weight: 250%;
    line-height: 120%;
    padding-bottom: 20px;
    margin: 0 auto;


}

.cite{
    color: white;
    font-size: 120%;
    font-weight: 400%;
    line-height: 120%;
    margin: 0 auto;
    text-align: center;
}

.cite img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin-right: 15px;
}

.test-box{
    text-align: left;
}


/* Packages */

.packages{
    padding-top: 80px;
    height: 130vh;
    background-color: white;
    text-align: center;
    color: black;
    background-color: whitesmoke;
}
.box{
    background-color: rgb(249, 249, 249);
    padding-bottom: 60px;
    text-align: center;
    box-shadow: 0px 2px 2px rgb(199, 199, 199);
}
.p-head{
    color: rgb(75, 73, 73);
    margin-bottom: 10%;
    margin-left: -30%;
    margin-top: 20%;
    padding-bottom: 10px;
    font-size: 200%;
    font-weight: 400%;

}
.package-box{
border-bottom: 1px solid rgb(233, 233, 233);
}
.Package-Price{
    color: #ed07b7;
    font-size: 400%;
    font-weight: 300%;

}
.Package-Price span{
    color: #ed07b7;
    font-size: 25%;
    font-weight: 150%;
}
.package-para,.list-item{
    margin: 10%;
    font-size: 120%;
    font-weight: 400%;

}
.list{
 list-style: none;

}

.list-item{
   
    font-size: 120%;
    font-weight: 400%;
    padding: 3px 0;
}
.list-item i{
 font-size: 130%;
 font-weight: 700%;
 color:#ed07b7;
 margin-right: 10px;
 display: inline-block;
}


footer{
    margin-top: 10% ;
    background-color: rgb(49, 49, 49);
    height: 30vh;
}

.footer-list{
    margin: 50px;
    margin-left: -40px;
    list-style: none;
}

.footer-list li{
    display: inline-block;
    padding: 5px;
    
}
.footer-list li a{
text-decoration: none;
color: whitesmoke;
font-weight: 300%;
padding-right:10px;
}
.footer-list li a:hover,.footer-list li a:active{
    font-size: 120%;
}

.social-list{
   text-align: right;

}

.footer-list li a i:hover,.footer-list li a i:active{
    font-size: 200%;
    transition: color .5s;
    transition: font-size .2s;

}
#t:hover, #t:active{
color: #1DA1F2;
}
#f:hover, #f:active{
color: #4267B2;
}
#g:hover, #g:active{
color: #db4a38;
}
#i:hover, #i:active{
color: #ff00eab9;
}

.footer-list li a i:visited,.footer-list li a i:link{

    font-size: 100%;
}

.par{
text-align: center;
margin-top: -3%;
margin-bottom: -50%;

padding: 0 9% 10% -10%;
color: whitesmoke;
}