
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #fff;
    color: rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    font-family: 'work sans', Arial, sans-serif, sans-serif;
}


.row{
    max-width: 1080px;
    margin: 0 auto;
}

.headerBox{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    margin: 0 auto;
    transform: translate(-250px,-50px);
}
header{
 background-image: linear-gradient(rgba(0,0,0,.3),rgb(0,0,0,.7)),   url(header.jpeg);
 height: 100vh;
 background-size: cover;
 background-position: center;
 position: relative;

}
h1{
    font-size: 500%;
    font-weight: 300;
}

h2{
    font-size: 300%;
    font-weight: 200;
    margin-bottom: 50px;
}


.btn:visited,.btn:link{
 color: white;
 text-decoration: none;
 border-radius: 200px;
 padding: 10px 20px;
 margin-top: 50px;

}

.btn-full:visited,.btn-full:link{
 background-color: #ed07b7;
 color: #fff;
}

.btn-full:hover,.btn-full:active{
    background-color: #fd48d3;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 20px;
    float: left;
}
.nav{
    list-style: none;
    float: right;
}

.nav li{
   display: inline-block;
   margin: 20px 20px;
   padding-top: 15px;
   text-transform: uppercase;
   margin-bottom: 40px;
}
.nav li a{
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.nav li a:visited,.nav li a:link{
  text-decoration: none;
  color: white;
  transition: border-bottom 0.5s;
 }

 .nav li a:hover{
    border-bottom: 2px solid #ed07b7;
 }

 .about-heading{
     font-size: 380%;
     font-weight: 400px;
     color: black;
     margin-top: 20px;
     margin-left: -70px;

 }

 .about{
     height: 100vh;
 }

 .about-para{
     font-size: 140%;
     font-weight: 100px;
     text-align: left;
     color: black;
     margin-left: -70px;
 }

 .about img{
     width: 100%;
     margin: 70px 70px;
     border-radius: 10px;
 }